<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Titulo</th>
            <th scope="col">Precio</th>
            <th scope="col">Thumbnail</th>
            <th scope="col">Acciones</th>
            
        </tr>
    </thead>
    <tbody>
        {{#each products}}
            <tr id="{{this.id}}">
           <th scope="row"><a href="/api/productos/{{this.id}}">{{this.id}}</a></th>
            <td>{{this.title}}</td>
            <td>{{this.price}}</td>
            <td>{{this.thumbnail}}</td>
            <td>
                <a href="/api/productos/edit/{{this.id}}">Edit</a>
                <button onclick="borrarProducto({{this.id}})">Borrar</button>

            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

